<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
<h1>Hello World!!!</h1><br>
<form action="/rempunc" method="get">
    <textarea name ='text' style='margin: 0px; height: 141px; width: 770px;'></textarea><br>
    <input type="checkbox" name="punc"> Remove punctuation<br>
    <input type="checkbox" name="caps"> Capital<br>
    <input type="checkbox" name="line"> Line remover<br>
    <input type="checkbox" name="space"> Space remover<br>
<button type="submit">Analyze Text</button>
</form>
</body>
</html>